<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Table with Add and Delete Row Feature</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .fixed-div {
          position: fixed;
          top: 0;
          left: 0;
          background-color: #fff;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row fixed-div">
                <div class="col-sm-8"><h2>Patient <b>List</b></h2></div>
                <div class="col-sm-4">
                    <a href="add-patient" type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</a>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Reason see the doctor</th>
                <th>Request</th>
                <th>Admit Time</th>
                <th>Employee Managing Id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td><span th:text="${patient.patientId}"> </span></td>
                <td><span th:text="${patient.firstName}"> </span></td>
                <td><span th:text="${patient.lastName}"></span></td>
                <td><span th:text="${patient.height}"></span></td>
                <td><span th:text="${patient.weight}"></span></td>
                <td><span th:text="${patient.reasonSeeTheDoctor}"></span></td>
                <td><span th:text="${patient.request}"></span></td>
                <td><span th:text="${patient.admitTime}"></span></td>
                <td><span th:text="${patient.employeeId}"></span></td>
                <td>
                    <a href="/add-patient" type="button" class="edit" title="Edit" data-toggle="tooltip"><i
                            class="material-icons"></i></a>
                    <a href="/add-patient" type="button" class="delete" title="Discharge" data-toggle="tooltip"><i
                            class="material-icons"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>